<!-- Pug Template -->
<template lang="pug">
span ListViz Dummy Data
</template>

<!-- SCSS Styling-->
<style lang="scss"></style>

<!-- Javascript-->
<script>
export default {
  name: "ListViz"
};
</script>
