<!-- Pug Template -->
<template lang="pug">
span MapViz Dummy Data
</template>

<!-- SCSS Styling-->
<style lang="scss"></style>

<!-- Javascript-->
<script>
export default {
  name: "MapViz"
};
</script>
