<!-- Pug Template -->
<template lang="pug">
span TreeViz Dummy Data
</template>

<!-- SCSS Styling-->
<style lang="scss"></style>

<!-- Javascript-->
<script>
export default {
  name: "TreeViz"
};
</script>
