<!-- Pug Template -->
<template lang="pug">
.config
  span Config Dummy Data
</template>

<!-- SCSS Styling-->
<style lang="scss"></style>

<!-- Javascript-->
<script>
export default {
  name: "Admin"
};
</script>
