<!-- Pug Template -->
<template lang="pug">
.analyze
  span Analyze Dummy Data
</template>

<!-- SCSS Styling-->
<style lang="scss"></style>

<!-- Javascript-->
<script>
export default {
  name: "Analyze"
};
</script>
