<!-- Pug Template -->
<template lang="pug">
img(src="@/assets/header.svg" class="header")
</template>

<!-- SCSS Styling-->
<style lang="scss">
img {
  width: 8vw;
}
</style>

<!-- Javascript-->
<script>
export default {
  name: "Header"
};
</script>
